#!/bin/bash -l
#SBATCH -N 1
#SBATCH --ntasks-per-node=1
#SBATCH --time=00:01:00
#SBATCH -A {{ grant_id }}
#SBATCH -p plgrid

#Speed up singularity execution
#SBATCH -C localfs
export SINGULARITY_LOCALCACHEDIR=$SCRATCH_LOCAL

# Finish with error on first command with error
set -e

## Change to the directory where sbatch was called
cd $SCRATCHDIR

## Load ruby module and execute calculation
echo Running singularity container
module load plgrid/tools/singularity
singularity exec library://lolcow cowsay "Mooooo from the pipeline step!" > moo.txt

echo Produced moo
cat moo.txt


echo Uploading results
{% stage_out moo.txt %}
echo Finish
